{% extends 'base.html' %}
  {% block title %}
    <title>Список издательств</title>
  {% endblock title %}

{% block content %}
    {% for publisher in publishers %}
        <ul class="list-group">
            <li class="list-group-item publisher-name">
                Издательство "{{ publisher.name }}"
                <ul class="list-group publisher-book">
                    {% for book in publisher.books.all  %}
                        <li class="list-group-item"> {{ book.title }}</li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    {% endfor %}
{% endblock content %}